@import "./variable.module.scss";

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: Gill Sans, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px !important;
  color: $white !important;
  background-color: $black;
  position: relative;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.1;
}

a {
  cursor: pointer;
  text-decoration: unset;
  color: inherit;
}

.main {
  padding: 0px !important;
  max-width: unset !important;
  position: relative;
}

.block {
  text-align: center;
  background-color: $light-grey;
  padding: 30px 20px 20px 20px;
  min-height: 350px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}

input,
textarea,
button,
p,
span {
  font-size: inherit;
  font-family: inherit;
}