$black: #262626;
$white: #ffffff;
$dark-white: #fbfbfb;
$light-grey: #f1f1f1;
$mid-grey: #ccc;
$dark-grey: #262626;
$light-yellow: #efd72e;
$dark-yellow: #F0BF46;
$red: #C1564C;
$brown: #6c5b46;
$pink: #f7d9bb;
$green: #5ca32d;

:export {
    black: $black;
    white: $white;
    green: $green;
    brown: $brown;
    pink: $pink;
    red: $red;
    darkwhite: $dark-white;
    lightgrey: $light-grey;
    midgrey: $mid-grey;
    darkgrey: $dark-grey;
    lightyellow: $light-yellow;
    darkyellow: $dark-yellow;
}