$black: #262626;
$white: #ffffff;
$darkwhite: #fbfbfb;
$light-grey: #f1f1f1;
$mid-grey: #ccc;
$dark-grey: #262626;
$light-yellow: #F0BF46;
$dark-yellow: #F0BF46;

:export {
    black: $black;
    white: $white;
    darkwhite: $darkwhite;
    lightgrey: $light-grey;
    midgrey: $mid-grey;
    darkgrey: $dark-grey;
    lightyellow: $light-yellow;
    darkyellow: $dark-yellow;
}